nav{
    padding: 10px;
    background: #5866e9;
}

ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
nav ul li a:hover{
    color: aqua;
    background: #00000081;
}
.container{
    padding: 20%;
    background: #e9baba;

}
.card{
    width: 32%;
    height: 32vh;
    background: #000;
}
table-container {
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: center;
    color: white;
}

th {
    background-color: #073b84;
    font-size: 18px;
}

td {
    background-color: #3498db;
}
td:nth-child(1){
    background: #4710ec;
}
td:nth-child(2){
    background: #1e297b;
}
td:nth-child(3){
    background: #030a3c;
}
td:nth-child(4){
    background: #101b80;
}
 
 
 